name: CI

on: 
  push:
    branches: ["deploy"]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@3.1.0
  
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with: 
          username: ${{ secrets.HUB_USER }}
          password: ${{ secrets.HUB_PASSWORD }}
        
      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: .
          push: true
          tags: |
            jvctrsz/api_notes:v1
            jvctrsz/api_notes:latest
